@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav a{
  padding: 10px;
}

h1{
  font-size: 15px;
}

.pp-main-banner{
  width: 100%;
}

.banner-card{
  padding: 30px 50px;
  background: #fff;
  margin-top: -20px;
  border-radius: 10px;
  max-width: 355px;
  box-shadow: 10px 10px 50px rgb(0 0 0 / 8%);
  color: #4a596b;
  margin: -40px 10px 0px;
  transition: 0.3s linear;
}

.banner-card:hover{
  margin-top: -60px
}

.banner-card-image {
  max-width: 30px;
  margin: 0px 15px 0px 0px;
}

.banner-card-small{
  font-size: 13px;
}

.banner-card-title{
  font-size: 24px;
  line-height: 28px;
}

.section-title{
  color: #142032;
  font-size: 1.5rem;
  text-align: center;
}

.fh-section{
  margin-top: 50px;
}

.category-svg-box{
  background: #000;
}

.category-icon-card{
  background-color: #eeeeee;
  border-radius: 100px;
  padding: 15px;
}

.category-box-list{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.category-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-card{
  margin: 20px 20px;
  max-width: 150px;
}

.category-icon-card:hover{
  background-color: #f71963;
}

.category-icon-card:hover svg {
  color: #fff !important
}

.category-box-title{
  margin-top: 10px;
  text-align: center
}

.newsletter-section{
  padding: 100px 50px;
  background: #111c2d;
  color: #fff;
  margin-top: 80px;
}

.newsletter-title{
  font-size: 40px;
  text-align: center;
}

.h-section {
  padding: 50px 100px;
}

.b-gray{
  background: #f8f7fc;
}

.shelf-title{
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 48px;
}

.partner-card{
  background: #fff;
  height: 302px;
  padding: 30px;
  margin: 10px;
}

.partner-card-header{
  height: 50px;
  border-bottom: 1px solid #d1d1d1;
}

.partner-card-body{
  margin-top: 14px;
  font-size: 14px;
}

.w-30{
  width: 30%;
}

.highlight-title{
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
  margin-top: 24px;
  color: #142032;
  font-weight: 400;
}

.highlight-card{
  margin: 0px 20px;
}

.x-scroll{
  overflow-x: scroll;
}
